*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html{
  width: $size-100;
  height:$size-100;
}

body{
  min-width: $size-100;
  height:$size-100;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
}


body{
  background-color:$Light-Gray;
  font-family: $font-karla-regular;
  font-size: 16px;
}
