
@font-face {
  font-family: 'karlaregular';
  src: url('/dist/font/Karla/karla-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'karlabold';
  src: url('/dist/font/Karla/karla-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}