
$color-white:white;
$color-black: black;
$color-gray: hsl(0, 0%, 59%);
$font-libre-franklin:'Libre Franklin';
$font-weight-light: 300;
$font-weight-semi-bold:600;
$font-weight-bold: bold;
$color-blue: hsl(223, 87%, 63%);
$color-pale-blue: hsl(223, 100%, 88%);
$color-error: hsl(354, 100%, 66%);
$size-2rem: 2rem;
$size-100: 100%;
$size-10: 10%;
$size-50:50%;
$small: 576px;
$medium:768px;
$large: 992px;
$extra-large:1200px;

