
$color-white:#fff;
$color-black: black;
$color-gray: hsl(0, 0%, 59%);
$font-karla: 'Karla', sans-serif;
$regular: 400;
$bold:700;
$Bright-Yellow: hsl(71, 73%, 54%);
$Cyan: hsl(179, 62%, 43%);
$Cyan-light:hsl(179, 58%, 50%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue:hsl(218, 22%, 67%);
$box-shadow:  rgba(0, 0, 0, 0.1);
$size-2rem: 2rem;
$size-100: 100%;
$size-10: 10%;
$size-50:50%;
$small: 576px;
$medium:768px;
$large: 992px;
$extra-large:1200px;

