.container{
  width:$size-100;
  height:$size-100;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:"header header header"
                    "main   main    main"
                    "footer footer footer";

  header{
    @include grid-row-column(header);
  }

  main{
    @include grid-row-column(main);
  }

  footer{
    @include grid-row-column(footer);
  }
}


