.header_ping{
  width: $size-100;
  height: $size-100;
  padding-top:$size-2rem + $size-2rem;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}

.box_title{
  width:$size-100;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  .title_ping, .subtile_ping{
    width: $size-100;
    text-align:center;
  }
  .title_ping{
    @include font ($font-libre-franklin, $size-2rem + 1rem, $color-gray );
    font-weight:300;

    span {
      color:$color-black;
      font-weight: $font-weight-bold;
    }
  }

  .subtile_ping{
    @include font ($font-libre-franklin, 1.3rem, $color-black );
    font-weight: 100;
  }

}

  .box_img{
    width: $size-100;
    margin-top: $size-2rem + 1rem;
    // height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
  
    img{
      width: $size-50;
      height:$size-100;
      max-width: $size-100;
      object-fit: contain;
    }
  }

  .container-icons + p{
    margin-top: 2rem;
    width:$size-100;
    color: $color-gray;
    font-size: 0.9rem;
    text-align:center;
  }

  


