header{
  width: $size-100;
  height: $size-100;
  display: flex;
  flex-wrap:wrap;
  align-content: center;
  justify-content:start;
  padding: 40px;
  background-color: $color-white;
  

  h1 {
    width: $size-100;
    @include font($font-karla, 1.5rem, $Cyan);
    font-weight:$bold;
    padding-bottom:24px;
  }

  h2{
    color:$Bright-Yellow;
    width: $size-100;
    font-size: 17px;
    padding-bottom: 11px;
  }

  p{
    color:$Grayish-Blue;
    line-height: 1.6;
  }

}


