@include mq ($medium){

  main{
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "suscripcion suscripcion"
                          "whyUs       whyUs     " ;
  }

  header, main .suscripcion, main .whyUs  {
    padding: 25px;
  }

  header p {
    font-size: rem(15px);
  }

  .container{
    width: 90%;
  }

  .suscripcion__title{
    margin-bottom: 15px;
  }

  .suscripcion__button {
    margin-top: 20px;
  }

  footer {
    width: 80%;
    text-align: center;
  }
  
}


